* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', serif;
    /* font-family: 'Magra', sans-serif;
    font-family: 'Red Hat Text', sans-serif; */
    font-style: normal;
    color: #FFFFFF;
}

.previewPhoto {
    position: relative;
    width: 1440px;
    height: 765px;
    /* background: url(img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png); */
}

.screen {
    position: absolute;
}

header {
    position: absolute;
    width: 1440px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo {
    margin: 25px 158px auto 120px;
    display: flex;
    justify-content: space-between;
    width: 216px;
    height: 31px;
}

.logo p {
    font-family: 'Magra', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.headerNav {
    width: 527px;
    height: 21px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px;
}

.register {
    width: 103px;
    height: 41px;
    margin: 25px 120px auto 196px;    
}

button p {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
#preview {
    position: absolute;
    width: 892px;
    height: 422px;
    /* margin: 32px auto auto 120px; */
    margin: 122px auto auto 120px;    
}

h1 {    
    display: block;
    position: absolute;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}

.quote {
    display: block;
    position: absolute;
    margin-top: 224px;    
    width: 723px;
    height: 24px;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.startPlanning {       
    width: 892px;
    height: 95px;
    margin-top: 294px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.forPlanning {
    width: 228px;
    height: 59px;
    position: absolute;
    margin: 18px 18px 18px 646px;
}

.forPlanning p {
    font-size: 24px;
    line-height: 32px;
}

.question {
    width: 560px;
    height: 22px;
    margin: 32px auto auto 41px;
    position: absolute;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.steps {
    position: absolute;
    width: 1177px;
    height: 247px;
    margin: 80px 132px auto 131px;
}

h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #F2785C;
}

.conteinerForSteps {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1177px;
    height: 154px;
    margin-top: 40px;
}

.stepBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 317px; */
}

.stepBlock p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

#destinations {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 1042px;
    margin-top: 424px;
}

.conteinerForDestination {
    width: 2480px;
    height: 800px;
    margin-top: 46px;
    /* margin-left: -540px; */
    display: flex;
    justify-content: space-between;
}

.photo {
    position: relative;
    width: 800px;
    height: 800px;
}

.photo img {
position: absolute;
}

.photo p {
    display: block;
    position: absolute;
    height: 42px;
    margin: 718px 677px 40px 15px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
}

.conteinerForSlide {
    display: flex;
    justify-content: space-between;
    width: 80px;
    height: 20px;
    margin: 24px 679px auto auto;
}

.slide {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 100%;
}

.slide:active {
    background: #F2785C;
}

.findMore {  
    position: relative; 
    margin-top: 40px;
    /* margin-bottom: 40px; */
    width: 228px;
    height: 59px;
}

.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(40px + 10px + 116px);
}

.findMore p {
    display: block;
    width: 116px;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
}
#stories {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1201px;
    height: 1322px;
    margin: 1546px 120px auto 119px;
}

.story {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 250px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #0D606F;
}

.one {
    margin-top: 80px;
}

.last {
    margin-bottom: 0;
}

.text {
    margin-left: 40px;    
}

h3 {
    margin-bottom: 24px;
    font-size: 35px;
    line-height: 42px;
    text-align: left;
}

.story p {
    display: -webkit-box;
    width: 760px;
    /* height: 184px; */
    height: 143px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;        
}

.text a {
    font-weight: 700;
    text-transform: capitalize;    
    color: #0D606F;
}

.text a:hover {
    text-decoration: underline;
}

.blackout {
  position: absolute;
  width: 1445px;
  height: 1270px;
  margin-top: 1639px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.7);
}

.footerImg {
  position: absolute;
  width: 1442px;
  height: 1331px;
  margin-top: 1639px;
  z-index: -2;
}

footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 728.96px;
  height: 33.65px;
  margin: 2923px 121.04px 13.35px 590px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
}
.socialIcon {
  display: flex;
  justify-content: space-between;
  width: 140.96px;
  
}
